<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Signup</title>
    <meta content="Quote Detail" name="SAI-APS-Portal" />
    <link rel="shortcut icon" href="/public/assets/images/SAILogo.jpg">

    <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>
<div class="wrapper-page">

    <div class="card">
        <div class="card-body">

            <h3 class="text-center m-0">
                <a href="/" class="logo logo-admin"><img src="/public/assets/images/SAI-Logo.JPG" height="70" alt="logo"></a>
            </h3>

            <div class="p-3">
                <h4 class="text-muted font-18 m-b-5 text-center">Signup</h4>
                <p class="text-muted text-center">Please enter an email and password below.</p>

                <% if(message){ %>
                    <div class="row justify-content-center">
                        <h6 style="color:red;"><%= message %></h6>
                    </div>
                <% } %>


                <form class="form-horizontal m-t-30" method="POST" action="/signup">

                    <div class="form-group">
                        <label for="email">Company Email</label>
                        <input type="text" name="email" class="form-control" placeholder="example@sai-aps.com" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Enter password" autocomplete="off">
                    </div>

                    <div class="form-group row m-t-20">
                        <div class="col-6">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                <label class="custom-control-label" for="customControlInline">Remember me</label>
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Signup</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div class="m-t-40 text-center">
        <p>© 2019 SAI, Switchboard Apparatus Inc.</p>
    </div>

</div>


<!-- Plugins js -->

<script src="/public/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="/public/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>

<!-- Assets js -->
<script src="/public/assets/js/jquery.min.js"></script>
<script src="/public/assets/js/bootstrap.bundle.min.js"></script>
<script src="/public/assets/js/waves.min.js"></script>
<script src="/public/assets/pages/form-advanced.js"></script>
<script src="/public/assets/js/app.js"></script>


</body>
</html>