
/* canvas styles */
html, body
{
    font:normal normal normal 100%/1.4 tahoma, sans-serif;
    background:#f9f9f9;
    color:#000;
}
body
{
    font-size:0.8em;
}

/* draggable targets */
[data-draggable="target"], [data-draggable="queue"]
{
    float:left;
    list-style-type:none;

    width:90%;
    height:20em;
    overflow-y:auto;

    margin:0 0.5em 0.5em 0;
    padding:0.5em;

    border:2px solid #888;
    border-radius:0.2em;

    background:#ddd;
    color:#555;
}

.itemQueue {
    /*background-color: #9ac989;*/
    background-color: #D6DCB1;

}

.controllerQueue {
    /*background-color: #c4b0e8;*/
    background-color: #EBE0EC;
}

.mouldedBreakerQueue{
    /*background-color: #f0be86;*/
    background-color: #FDDAB9;
}

.insulatedBreakerQueue{
    /*background-color: #afc6e0;*/
    background-color: #D5F2E8;
}

/*FOR BREAKERS*/
.compAbrk, .compBbrk, .compCbrk, .compDbrk{
    width: 100%;
    height: 23%;
    background-color: #e6e1e1;
    border-width: medium;
    border-color: #b1e7d5;
}

/*FOR CONTROL*/
.compAcontrol, .compBcontrol, .compCcontrol, .compDcontrol{
    width: 100%;
    height: 23%;
    background-color: #e6e1e1;
    border-width: medium;
    border-color: #d5c0d8;
}

/*FOR PANELBOARD*/
.compApanelboard, .compBpanelboard, .compCpanelboard, .compDpanelboard{
    width: 100%;
    height: 23%;
    background-color: #e6e1e1;
    border-width: medium;
    border-color: #fcca9c;
}

/* drop target state */
[data-draggable="target"][aria-dropeffect="move"]
{
    /*border-color: #9e9e9e;
    background:#fff;*/
}

/* drop target focus and dragover state */
[data-draggable="target"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover
{
    outline:none;

    box-shadow:0 0 0 1px #fff, 0 0 0 3px #9e9e9e;
}

/* draggable items */
[data-draggable="item"]
{
    display:block;
    list-style-type:none;

    margin:0 0 2px 0;
    padding:0.2em 0.4em;

    border-radius:0.2em;

    line-height:1.3;
}

/* items focus state */
[data-draggable="item"]:focus
{
    outline:none;

    box-shadow:0 0 0 2px #9e9e9e, inset 0 0 0 1px #ddd;
}

/* items grabbed state */
[data-draggable="item"][aria-grabbed="true"]
{
    background: #9e9e9e;
    color: #fff;
}
