<%- contentFor('HeaderCss') %>
<!-- particular page css -->

<%- contentFor('body') %>
    <div class="content">
        <p>I am trying something out here</p>
    </div>

<!-- end of unique page content -->
<%- contentFor('FooterJs') %>

<!-- JavaScript goes here -->